.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 30px 170px;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.services-formate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin-bottom: 50px;
}
.services-formate h3{
    font-size: 25px;
    font-weight: 600;
}
.services-formate h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-formate p{
    color: #d4d4d4; ;
    font-size: 24px;
}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.services-formate:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg,#3f0028,#582300);
    transform: scale(1.05);
    transition: 0.4s;
}

@media (max-width: 768px) {
  .services {
    margin: 30px 40px;
    gap: 50px;
  }

  .services-title h1 {
    font-size: 36px;
    text-align: center;
  }

  .services-container {
    grid-template-columns: auto;
    gap: 30px;
    width: 70%;

  }

  .services-formate {
    padding: 30px;
    gap: 15px;
  }

  .services-formate h3 {
    font-size: 20px;
  }

  .services-formate h2 {
    font-size: 28px;
  }

  .services-formate p {
    font-size: 18px;
  }

  .services-readmore {
    gap: 15px;
  }
}