.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 40px 170px;
}
.mywork-title h1{
    font-size: 50px;
    font-weight: 600;
    padding: 0px 30px;
}
.mywork-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 490px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 20px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    transform: scale(1.04);
}

@media (max-width: 768px) {
  .mywork {
    margin: 30px 40px;
    gap: 40px;
  }

  .mywork-title h1 {
    font-size: 36px;
    text-align: center;
  }

  .mywork-container {
    grid-template-columns: 1fr;
    gap: 25px;
    width: 60%;
  }

  .mywork-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .mywork-showmore {
    padding: 16px 40px;
    font-size: 18px;
  }
}
