.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.about-sections{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    width: 80%;
}
.about-left{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column ;
    margin-top: 80px;
}
.about-right{
    display: flex;
    flex-direction: column ;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;

}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%); 
}

.about-achievements{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
.about-achievement{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
transition: 0.5s;
}
.about-achievement h1{
    font-size: 50px;
    font-weight: 700;
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}
.about-achievement p{
    font-size: 20px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
 @media (max-width: 768px) {
  .about {
    gap: 60px;
    padding: 0 20px;
  }

  .about-title h1 {
    font-size: 36px;
    text-align: center;
  }

  .about-sections {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .about-left {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .about-left img{
    height: 300px;
    width: 300px;
    margin-left: 150px;

  }
  .about-right {
    width: 100%;
    gap: 40px;
  }

  .about-para {
    font-size: 18px;
    text-align: center;
  }

  .about-skill {
    gap: 20px;
    margin-left: 30px;
  }

  .about-skill p {
    min-width: 100px;
    font-size: 18px;
  }

  .about-skill hr {
    width: 60%;
    height: 6px;
  }

  .about-achievements {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }

  .about-achievement h1 {
    font-size: 36px;
  }

  .about-achievement p {
    font-size: 18px;
  }
}


